.profile-content {
	width: 100%;
	max-width: 1180px;
	padding: 0 30px;
	margin: 32px auto;
}

.profile-content header {
	display: flex;
	align-items: center;
}

.profile-content header span {
	font-size: 20px;
	margin-left: 24px;
}

.profile-content header img {
	height: 64px;
}

.profile-content header a {
	width: 260px;
	margin-left: auto;
}
.profile-content header button {
	height: 60px;
	width: 60px;
	border-radius: 4px;
	border: 1px solid #dcdcd6;
	background: transparent;
	margin-left: 16px;
	transition: border-color 0.2s;
}

.profile-content header button:hover {
	border-color: #999;
}

.profile-content h1 {
	margin-top: 80px;
	margin-bottom: 24px;
}

.profile-content ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 24px;
	list-style: none;
}

.profile-content ul li {
	background: #fff;
	padding: 24px;
	border-radius: 8px;
	position: relative;
}

.profile-content ul li button {
	position: absolute;
	top: 24px;
	background: transparent;
	right: 24px;
	border: 0;
	transition: opacity 0.2s;
}

.profile-content ul li button:hover {
	opacity: 0.8;
}

.profile-content ul li strong {
	display: block;
	margin-bottom: 16px;
	color: #41414d;
}

.profile-content ul li p + strong {
	margin-top: 32px;
}

.profile-content ul li p {
	color: #737380;
	line-height: 21px;
	font-size: 16px;
}
